// ANIMATIONS

@import "./colors.less";

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }

  .swirl {
    background-size: 400% 400% !important;
    animation: gradient 15s ease-in-out infinite;
  }

  .App-splash {
    background-size: 400% 400% !important;
    animation: gradient 15s ease-in-out infinite;
  }

  .App-body {
    background-size: 400% 400% !important;
    animation: gradient 5s ease-in-out infinite;
  }
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@keyframes gradient {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

/* ---------- Fog ---------- */
.foglayer:nth-child(0) {
  height: 100%;
  position: absolute;
  width: 200%;
  animation: foglayer_01_opacity 10s linear infinite,
    foglayer_moveme 15s linear infinite;

  .image {
    background: url("https://raw.githubusercontent.com/danielstuart14/CSS_FOG_ANIMATION/master/fog1.png")
      center center/cover no-repeat transparent;
    float: left;
    height: 100%;
    width: 50%;
  }
}

.foglayer:nth-child(1 + n) {
  animation: foglayer_02_opacity 21s linear infinite,
    foglayer_moveme 13s linear infinite;

  .image {
    background: url("https://raw.githubusercontent.com/danielstuart14/CSS_FOG_ANIMATION/master/fog2.png")
      center center/cover no-repeat transparent;
  }
}

/* ---------- Keyframe Layer 1 ---------- */
@keyframes foglayer_01_opacity {
  0% {
    opacity: 0.1;
  }
  22% {
    opacity: 0.5;
  }
  40% {
    opacity: 0.28;
  }
  58% {
    opacity: 0.4;
  }
  80% {
    opacity: 0.16;
  }
  100% {
    opacity: 0.1;
  }
}
/* ---------- Keyframe Layer 2 ---------- */
@keyframes foglayer_02_opacity {
  0% {
    opacity: 0.5;
  }
  25% {
    opacity: 0.2;
  }
  50% {
    opacity: 0.1;
  }
  80% {
    opacity: 0.3;
  }
  100% {
    opacity: 0.5;
  }
}
/* ---------- Keyframe Layer 3 ---------- */
@keyframes foglayer_03_opacity {
  0% {
    opacity: 0.8;
  }
  27% {
    opacity: 0.2;
  }
  52% {
    opacity: 0.6;
  }
  68% {
    opacity: 0.3;
  }
  100% {
    opacity: 0.8;
  }
}
/* ---------- Keyframe moveMe ---------- */

@keyframes foglayer_moveme {
  0% {
    left: 0;
  }
  100% {
    left: -100%;
  }
}
