@import "./colors.less";
@import "./animations.less";

// APP DESIGN

.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

.App-splash {
  background: @primaryGrad;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: @textColor;
}

.App-header {
  background: @primaryGrad;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: calc(10px + 2vmin);
  color: @textColor;
}

.App-body {
  background: @primaryGrad;
  min-height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: calc(10px + 2vmin);
  color: @textColor;
}

.App-link {
  color: @linkColor;
}

.nav-option {
  font-size: 16pt;
  font-weight: bold;
  color: @linkColor;
}

// SCROLLBAR
::-webkit-scrollbar {
  width: 4px;
}
::-webkit-scrollbar-track {
  background: @dark;
}
::-webkit-scrollbar-thumb {
  background: @secondaryColor;
}
::-webkit-scrollbar-thumb:hover {
  background: @slateGray;
}
