//Light Mode
//
// Colours
@primaryColor: #5bbfba;
@secondaryColor: #5f6caf;
@sunOrange: hsl(35, 95%, 60);
@blueSky: hsl(200, 95%, 60);
@rain: hsl(240, 95%, 60);
@cloudyGray: hsl(35, 5%, 60);
@stormPurple: hsl(250, 45%, 30);
@nightSky: hsl(240, 45%, 20);
@dark: #222;
@textColor: #111;
@linkColor: hsl(199, 82%, 42%);

// Mid Tones
@green: #a4d4ae;
@orange: #f0cf85;
@yellow: #e7f0c3;

// Grays
@darkGray: #444;
@midGray: #777;
@lightGray: #aaa;
@slateGray: #30404d;

@white: #fff;
@black: #000;

// Gradients
@primaryGrad: linear-gradient(45deg, @primaryColor, @secondaryColor);
@secondaryGrad: linear-gradient(45deg, @secondaryColor, @black);

// Weather Backgrounds
// Day
@clearDay: linear-gradient(45deg, @blueSky, @white, @primaryColor);
// Night
@clearNight: linear-gradient(45deg, @nightSky, @secondaryColor);
// Forecast
@glitter: linear-gradient(45deg, @blueSky, @white, @green);
// Loading
@loading: linear-gradient(45deg, @white,@primaryColor);