//Light Mode
//
// Colours
@primaryColor: #5bbfba;
@secondaryColor: #5f6caf;
@dark: #222;
@textColor: #111;
@linkColor: #61dafb;

// Mid Tones
@green: #a4d4ae;
@orange: #f0cf85;
@yellow: #e7f0c3;

// Grays
@darkGray: #444;
@midGray: #777;
@lightGray: #aaa;
@slateGray: #30404d;

// Gradients
@primaryGrad: linear-gradient(45deg, @primaryColor, @secondaryColor);
@secondaryGrad: linear-gradient(45deg, @secondaryColor, black);
