.weathershow {
  .outer:before,
  .outer:after,
  .inner:before,
  .inner:after {
    background: #179;
  }
  .inner {
    border-color: #179;
  }

  h1 {
    text-align: center;
    font-size: 1em;
  }

  .outer {
    position: fixed;
    top: 100px;
    left: 45%;
    width: 200px;
    height: 200px;
    overflow: hidden;
    z-index: 10;
  }

  .outer:before,
  .outer:after {
    content: "";
    position: absolute;
    left: 0;
    top: 50%;
    width: 2px;

    height: 86px;
    margin-top: -41px;
    z-index: 1;
  }

  .outer:after {
    left: auto;
    right: 0;
    margin-top: -45px;
    height: 92px;
  }

  .inner {
    position: absolute;
    top: 0px;
    width: 200px;
    height: 200px;
    background: rgba(255, 255, 255, 0.25);
    border-width: 2px;
    border-style: solid;
    -webkit-transform: rotate(45deg);
  }

  .inner:before,
  .inner:after {
    -webkit-transform: rotate(45deg);
    content: "";
    position: absolute;
    width: 2px;

    height: 85px;
    margin-top: -41px;
    z-index: 1;
    right: auto;
    left: 27px;
    bottom: auto;
    top: 27px;
  }

  .inner:after {
    height: 90px;
    right: 30px;
    left: auto;
    bottom: -13px;
    top: auto;
  }

  p {
    text-align: center;
    line-height: 145px;
    position: relative;
    z-index: 10;
    font-size: 30px;
    font-weight: bold;
  }
}

.weather {
  /* Inspired by Demo at https://codepen.io/ycw/pen/gdLZdN */
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  overflow: hidden;

  ul {
    width: 50vmin;
    height: 50vmin;
    position: relative;
  }

  li {
    --h: calc(100% / 3);
    --w: calc(1.15470053838 * var(--h));
    --a: calc(0.28867513459 * var(--h));
    --d: calc(0.57735026919 * var(--h));
    height: var(--h);
    width: var(--w);
    position: absolute;
    list-style: none;
  }

  img {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
    --aw: 24.99999999999%;
    clip-path: polygon(
      var(--aw) 0,
      0 50%,
      var(--aw) 100%,
      calc(100% - var(--aw)) 100%,
      100% 50%,
      calc(100% - var(--aw)) 0
    );
  }

  li:nth-of-type(1) {
    left: calc(50% - var(--a) - var(--d) * 0.5);
    top: 0;
  }
  li:nth-of-type(2) {
    left: calc(50% - var(--a) * 2 - var(--d) * 1.5);
    top: calc(var(--h) * 0.5);
  }
  li:nth-of-type(3) {
    left: calc(50% - var(--a) * 2 - var(--d) * 1.5);
    top: calc(var(--h) * 1.5);
  }
  li:nth-of-type(4) {
    left: calc(50% - var(--a) - var(--d) * 0.5);
    top: calc(var(--h) * 2);
  }
  li:nth-of-type(5) {
    left: calc(50% + var(--d) * 0.5);
    top: calc(var(--h) * 0.5);
  }
  li:nth-of-type(6) {
    left: calc(50% + var(--d) * 0.5);
    top: calc(var(--h) * 1.5);
  }
  li:nth-of-type(7) {
    left: calc(50% + var(--d) * 1);
    top: calc(var(--h) * 1);
  }
  li:nth-of-type(8) {
    left: calc(50% + var(--d) * 1);
    top: calc(var(--h) * 1);
  }

  /* 
  style 
  */

  ul {
    filter: drop-shadow(0 0 10px hsla(0, 0%, 0%, 0.3));
  }

  li:hover {
    filter: drop-shadow(0 0 10px powderblue);
    z-index: 10;
  }

  /*
  anim
  */

  ul {
    animation: r 4s forwards;
  }
  @keyframes r {
    from {
      transform: rotate(180deg);
    }
    to {
      transform: rotate(0);
    }
  }

  li {
    animation: ir 4s forwards;
  }
  @keyframes ir {
    from {
      transform: rotate(-360deg);
    }
    to {
      transform: rotate(0);
    }
  }
}
